body{
  background: #343d46;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
}
 
.box{
  margin: 50px auto;
  height: 120px;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
    width: 80%;
}